@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Mulish:wght@200&family=Poppins:wght@700&display=swap');

* {
    padding: 0%;
    margin: 0%;
}

body {
    background: #E5E5E5;
    width: 100%;
    height: 100vh;
   overflow-x: hidden;
}

img {
    width: 224px;
height: 275px;
    object-fit: contain;
}

h1 {
font-family: Mulish, sans-serif;
font-size: 50px;
font-weight: 800;
letter-spacing: 0em;
margin-top: 60px;
}

 p, span, .span {
    font-family: Mulish, sans-serif;
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
}

.first-text {
font-family: Baloo Bhai, sans-serif;
font-size: 70px;
font-weight: 600;
width: 51px;
height: 102px;
color: #F1D5BB;
}

.content-img {
    height: 40px;
    width: 40px;
    border-radius: 0px;
}

.content-div, .content-divv {
height: 132px;
width: 144px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}

.content-div:hover {
    background-color: 
    rgba(241, 213, 187, 0.2);
    height: 132px;
width: 144px;
}

.content-divv {
    background-color: 
    #F1D5BB;
    height: 132px;
width: 144px;
}

.second-slide {
    display: flex;
    flex-direction: row;

}

.second-first-content {
    background: #000000;
    border-radius: 24px;
    width: 144px;
    height: 852px;
    margin: 57px 40px 105px 57px;
    box-sizing: border-box;
    /* box-shadow: 8px 4px rgba(12, 11, 11, 0.2); */
}

.second-main-slide {
    display: flex;
    flex-direction: column;
}

.rectangle-div {
width: 134px;
height: 5px;
background-color: #F1D5BB;;
}

.Cart-detail-one {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 24px;
    margin-bottom: 257px;
}

.cart-item-name {
font-weight: 50000;
}

.first-cart {
    height: 100px;
width: 550px;
margin: 10px;
display: flex;
}

.cart-img {
height: 90px;
width: 90px;
object-fit: contain;
}

.first-cart-text {
    margin-left: 36px;
}

.increase-btn {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    margin-left: 84px;
}

.increase-btn2 {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    margin-left: 113px;
}

.increase-btn3 {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    margin-left: 122px;
}

.increase-btn4 {
    display: flex;
    flex-direction: row;
    margin-top: 27px;
    margin-left: 55px;
}



.subtraction {
    color: black;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.addition {
    color: black;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.box {
    height: 35px;
width: 46px;
background: white;
border: none;
outline: none;
text-align: center;
}

.box > p {
color: black;
margin: 5px;
}

.path {
    height: 20px;
width: 20px;
object-fit: contain;
margin-top: 10px;
margin-left: 90px;
}

.Cart-detail-two {
margin-top: -10px;
}

.first-cart-detail {
height: 608px;
width: 608px;
border-radius: 3px;
background-color: 
#F1D5BB;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.second-cart-detail {
    height: 286px;
width: 443px;
border-radius: 3px;
background: #F1D5BB;
}

.second-cart-detail-text {
    font-family: 'Mulish', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 50px;
padding-left: 30px;
padding-top: 25px;
color: #000000;
}

.second-cart-detail-text2 {
    display: flex;
    flex-direction: row;
    gap: 29px;
    padding-left: 30px;
    padding-top: 20px;
}

.Sub-text {
        font-family: Mulish, sans-serif;
    font-size: 27px;
    font-weight: 00;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 4px;
    margin-right: -10px;
}

.text {
    font-family: Mulish, sans-serif;
font-size: 27px;
font-weight: 00;
line-height: 38px;
color: rgba(0, 0, 0, 0.8);
}


.text > span {
    font-family: Mulish, sans-serif;
    font-size: 27px;
    font-weight: 00;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.8); 
}

.second-cart-detail-btn {
    width: 365px;
height: 70px;
color: white;
font-family: 'Mulish', sans-serif;
background: black;
margin-left: 35px;
margin-top: 28px;
font-size: 24px;
font-weight: 600;
}

.order {
    font-family: 'Mulish', sans-serif;
    margin-left: 35px;
    margin-top: 28px;
    font-size: 24px;
    font-weight: 800;
    color: rgb(7, 189, 7);
}

#promoText {
        font-family: 'Mulish', sans-serif;
        margin-left: 35px;
        margin-top: 25px;
        font-size: 24px;
        font-weight: 800;
        color: rgb(7, 189, 7);
}

.promoText {
    font-family: 'Mulish', sans-serif;
        margin-left: 5px;
        margin-top: 25px;
        font-size: 24px;
        font-weight: 800;
        color: rgb(7, 189, 7);
}

.third-cart-detail {
    height: 321px;
width: 443px;
border-radius: 3px;
background: #FFFFFF;
border: 1px solid 
#F1D5BB;
}

.third-cart-detail-text {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    padding-left: 30px;
    padding-top: 20px;
    color: #000000;
}

.third-cart-detail-input {
    height: 48px;
width: 350px;
border-radius: 0px;
padding-left: 20px;
font-family: Mulish, sans-serif;
font-size: 25px;
font-weight: 200;
line-height: 38px;
letter-spacing: 0em;
color: #00000099;
margin-left: 35px;
margin-top: 17px;
border: 1px solid #F1D5BB;
outline: none;
}

.third-cart-detail-btn {
    width: 157px;
    height: 70px;
    background: #000000;
    font-family: Mulish;
font-size: 27px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0em;
color: white;
}